<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>
<h2>Company Home Page</h2>
<hr>
<p>
    Welcome to the company home page
</p>
<hr>
<p>
    User: <span sec:authentication="principal.username"></span>
    <br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<hr>
<div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}">Leadership Meeting (Only for Manager staff)</a>
    </p>
<hr>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/systems}">Systems Page (Only for Admin staff)</a>
    </p>
<hr>
</div>
<form action="#" th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
</form>

</body>
</html>