<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Login Page</title>
</head>
<style>
    .error-message{
        color: red;
        font-size:16px;
    }
</style>
<body>
<h3>Company Login Page</h3>
<form action="#" th:action="@{/authUser}" method="POST">

    <!--    check for appended ?error from spring-->
    <div th:if="${param.error}" class="error-message">
        <i>Invalid username/password!</i>
    </div>

    <p>
        Username: <input type="text" name="username">
    </p>

    <p>
        Password: <input type="password" name="password">
    </p>

    <button type="submit">Login</button>
</form>

</body>
</html>